@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 6rem;
  min-height: 100vh;
}

a {
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 90vh;
  gap: 3rem;
}

aside {
  width: 40%;
  height: 90vh;
}

aside img {
  object-fit: cover;
  height: 100%;
  width: 60%;
  border-radius: 6px;
  border: 1px solid black;
}

.box:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

.box {
  background-color: #404040;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.dark-box {
  background-color: #202020;
  margin-bottom: auto;
  padding: 0.25rem;
}

.logo {
  background-color: #ffff;
  border-radius: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 2.5rem;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

h1 {
  font-size: 2.6rem;
  margin-left: auto;
}

/*-------Top-heading------*/
h2 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}

/*------------------Top-Sub-Heading(Legal-Legal)--------------------------*/
h3 {
  color: #6f6f6f;
  font-size: 1.5rem;
  margin: 0;
}

/*-------Sub-Heading-Styling-----------*/
p {
  margin: 0;
}

/*------------Container-Covering-Top-and-Sub-Heading---------------*/
.text {
  width: 300px;
}

/*----------------right-arrow-icon--------------------*/

.fa-chevron-right {
  font-size: 2.5rem;
}

.side {
  margin-top: 50px;
  gap: 3rem;
  display: inline-block;
  justify-content: space-between;
}

.base {
  margin-top: 50px;
}

/*-----------------------gitTablet-Screen(Max-Width-768px)---------------------------- */
@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
    padding-right: 0;
  }
  aside,
  main {
    height: auto;
    width: 100%;
  }
}
